/* Import Montserrat font */
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-regular.tff'), url('./../fonts/Montserrat-Regular.ttf') format('truetype');
}

/* Import Open Sans font */
@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-regular.tff'), url('./../fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

