/* Import Montserrat font */
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-regular.tff'), url('./../fonts/Montserrat-Regular.ttf') format('truetype');
}

/* Import Open Sans font */
@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-regular.tff'), url('./../fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(204, 230, 255, 0.25);
    margin: 0;
}

a {
    color: #509EE5;
}

a:hover {
    color: #1E76C8;
}

.invisibleElement {
    display: none;
    height: 0;
    width: 0;
    border: 0;
}

