#recipeLoadingNotice {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: Montserrat;
}

#notFoundNotice {
    text-align: center;
    font-size: 30px;
}

#recipePage {
    font-family: OpenSans;
    margin: 25px;
}

#recipeDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

#header {
    width: 40%;
}

#recipeName {
    margin: auto;
    font-size: 45px;
    min-width: 65%;
    max-width: 90%;
}

#author {
    margin-top: 15px;
    font-size: 25px;
}

#source {
    margin: 10px 0px 25px 0px;
    font-size: 22px;
}

#sourceText {
    font-style: italic;
}

#saveRecipeButton {
    height: 35px;
    border: none;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
    color: white;
    background-color: #509EE5;
    font-size: 18px;
    font-weight: 600;
    font-family: Montserrat;
}

#saveRecipeButton:hover {
    background-color: #1E76C8;
    cursor: pointer;
}

#sourceText {
    font-weight: 800;
}

#imageContainer {
    min-width: 100px;
    max-width: 25%;
    max-height: 600px;
    object-fit: contain;
}

#recipePhoto {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
}

#sourceLink {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#sourceLink:visited {
    color: inherit;
}

#details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 25px auto 10px auto;
    background-color: white;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
    font-size: 22px;
}

#detailsLeft {
    width: 45%;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.detailHighlight {
    font-weight: 800;
    color: #1E76C8;
}

#times {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

#totalTime {
    font-size: 22px;
    margin-bottom: 5px;
}

#totalTimeText {
    text-decoration: underline;
}

#procedure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listHeader {
    font-size: 30px;
    font-weight: 400;
    text-decoration: underline;
}

.sectionHeader {
    font-size: 22px;
    margin: 20px 0px 20px 20px;
}

.sectionData {
    line-height: 30px;
    font-size: 20px;
}
