#savedRecipeCard {
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px grey;
    color: black;
    margin-bottom: 10px;
    min-width: 350px;
    max-width: 35%;
    min-height: 50px;
    max-height: 75px;
}

#savedRecipeCard:hover {
    color: #1E76C8;
}

.savedRecipeCardLink {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.savedRecipeCardLink:visited {
    color: inherit;
}

#savedRecipeCardContents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 5px 5px 8px;
}

#savedRecipeCardLeft {
    display: flex;
    flex-direction: column;
}

#savedRecipeCardName {
    font-size: 18px;
    font-weight: 500;
    font-family: OpenSans;
    text-overflow: ellipsis;
}

#savedRecipeCardAuthor {
    font-size: 16px;
    font-weight: 100;
    font-family: OpenSans;
}

#savedRecipePhoto {
    height: 50px;
    object-fit: contain;
}
