#card {
    border: 2px solid grey;
    border-radius: 15px;
    width: auto;
    height: auto;
    min-width: 300px;
    max-width: 100%;
    min-height: 10px;
    max-height: 100px;
}

#card:hover {
    box-shadow: 3px 3px 8px grey;
}

#cardContents {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cardInfo {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;
}

#secondaryDetails {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 12px;
}

#cardRecipeName {
    color: black;
    font-size: 22px;
    font-weight: 500;
    overflow: hidden;
    padding-top: 12px;
}

#cardAuthor {
    color: midnightblue;
}

#cardSource {
    color: darkgreen;
}

#cardTotalTime {
    color: purple;
    text-decoration: underline;
}

#cardPhoto {
    width: 18%;
    height: 100%;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-left: 2px solid grey;
}

.cardRecipeLink {
    color: inherit;
    text-decoration: none;
}

.cardRecipeLink:visited {
    color: inherit;
}
