#card {
    border: 2px solid grey;
    border-radius: 15px;
    width: auto;
    height: auto;
    min-width: 300px;
    max-width: 100%;
    min-height: 10px;
    max-height: 100px;
    overflow: hidden;
}

#card:hover {
    box-shadow: 3px 3px 8px grey;
}

#cardContents {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expandableCard { 
    transition: all .2s ease-in-out; 
}
    
.expandableCard:hover { 
    transform: scale(1.1); 
}

#cardInfo {
    height: 100%;
    width: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;
}

#secondaryDetails {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 9px;
}

#cardRecipeName {
    color: black;
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 9px;
}

#cardAuthor {
    color: midnightblue;
    max-width: 50%;
}

#cardSource {
    color: darkgreen;
}

#cardTotalTime {
    color: purple;
    text-decoration: underline;
}

#tertiaryDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 50%;
}

#cardPhoto {
    width: 18%;
    height: 100%;
    border-left: 2px solid grey;
}

.cardRecipeLink {
    color: inherit;
    text-decoration: none;
}

.cardRecipeLink:visited {
    color: inherit;
}
