#card {
    border: 2px solid grey;
    border-radius: 15px;
    width: auto;
    height: auto;
    min-width: 500px;
    max-width: 800px;
    min-height: 85px;
    max-height: 90px;
    overflow: hidden;
    margin-bottom: 1rem;
}

#card:hover {
    box-shadow: 3px 3px 8px grey;
    max-height: 150px;
}

#card:hover div {
    white-space: normal;
}

#cardContents {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expandableCard {
    transition: all .1s ease-in-out;
}

.expandableCard:hover { 
    transform: scale(1.1);
}

#cardInfo {
    height: 100%;
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2%;
}

#secondaryDetails {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
}

#cardRecipeName {
    color: black;
    font-size: 22px;
    font-weight: 500;
    padding-top: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#cardAuthor {
    color: midnightblue;
    max-width: 50%;
}

#cardSource {
    color: darkgreen;
}

#cardTotalTime {
    color: purple;
    text-decoration: underline;
}

#tertiaryDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 50%;
}

#cardPhoto {
    width: 17%;
    height: 100%;
    border-left: 2px solid grey;
}

.cardRecipeLink {
    color: inherit;
    text-decoration: none;
}

.cardRecipeLink:visited {
    color: inherit;
}
