#resultsContainer {
    margin: auto;
    max-width: 800px;
    padding-top: 10px;
}

#resultsList {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    padding-bottom: 20px;
}
