#resultsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    max-width: 85%;
    min-width: 50%;
}

#topResultsLabel {
    font-size: 30px;
    font-weight: bold;
    font-family: OpenSans;
    margin-bottom: 30px;
    text-align: center;
}

#scrollLeftButton:active {
    transform: translateX(-10px);
}

#resultsList {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

#scrollRightButton:active {
    transform: translateX(10px);
}

.scrollButton {
    width: 50px;
    cursor: pointer;
    background: transparent;
    border: none !important;
    text-align: center;
    font-size: 60px;
    transition: 0.1s;
    opacity: 0.8;
    color: #509EE5;
    position: relative;
}

.scrollButton:after {
    content: '';
    position: absolute;
    top:    -10px;
    bottom: -10px;
    left:   -10px;
    right:  -10px;
}

.scrollButton:hover {
    opacity: 1
}

.scrollPlaceholder {
    width: 50px;
    height: 0;
    visibility: hidden;
    border: 0;
}

#pageDetails {
    text-align: center;
    margin: 15px;
    font-size: 20px;
    font-family: OpenSans;
}
