#notYetLoggedInNotice {
    font-size: 28px;
    font-weight: 500;
    font-family: OpenSans;
    text-align: center;
}

#userLoadingNotice {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: Montserrat;
}

#userDetails {
    margin-left: 5px;
}

#welcomeNotice {
    font-size: 42px;
    font-weight: 500;
    font-family: OpenSans;
    text-align: center;
}

#emailNotice {
    font-size: 28px;
    font-family: OpenSans;
    margin: 10px auto 25px auto;
    text-align: center;
}

#emailValue {
    text-decoration: underline;
}

#savedRecipes {
    margin-left: 20px;
}

#savedRecipesNotice {
    font-size: 24px;
    font-weight: 500;
    font-family: OpenSans;
    margin-bottom: 12px;
}

#noSavedRecipesNotice {
    font-size: 24px;
    font-weight: 500;
    font-family: OpenSans;
    margin-left: 20px;
}

#userLoadingNotice {
    text-align: center;
    font-size: 50px;
}