#loginHeader {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

#inputWrapper {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

#usernameLabel {
    display: inline-block;
    font-size: larger;
    margin-bottom: 5px;
}

#usernameInput {
    width: 100%;
    height: 40px;
    font-size: larger;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

#passwordInputWrapper {
    margin-top: 15px;
}

#passwordLabel {
    display: inline-block;
    font-size: larger;
    margin-bottom: 5px;
}

#passwordInput {
    width: 100%;
    height: 40px;
    font-size: larger;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

#submitButtonWrapper {
    width: 100px;
    height: 30px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#submitButton:hover {
    background-color: lightgrey;
}
