#loginHeader {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 25px;
}

#usernameInputWrapper {
    max-width: 600px;
    margin: auto;
}

#usernameInput {
    width: 100%;
    height: 40px;
    font-size: larger;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

#passwordInputWrapper {
    max-width: 600px;
    margin: auto;
    margin-top: 15px;
}

#passwordInput {
    width: 100%;
    height: 40px;
    font-size: larger;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}
