#header {
    text-align: center;
    margin-bottom: 25px;
}

#recipeName {
    font-size: 50px;
}

#author {
    margin-top: 5px;
    font-size: 25px;
}

#source {
    margin-top: 10px;
    font-size: 16px;
}

#sourceText {
    color: red;
    margin-left: 5px;
}

#image {
    text-align: center;
}

#sourceLink {
    text-align: center;
}

#sourceLink:visited {
    color: inherit;
}

#details {
    text-align: center;
    margin-top: 25px;
}

#difficulty {
    font-size: larger;
    margin-bottom: 5px;
}

#difficultyText {
    font-weight: bold;
    margin-left: 5px;
}

#yield {
    font-size: larger;
    margin-bottom: 5px;
}

#yieldText {
    font-weight: bold;
    margin-left: 5px;
}

#totalTime {
    font-size: larger;
    margin-bottom: 5px;
    margin-top: 25px;
}

#totalTimeText {
    font-weight: bold;
    margin-left: 5px;
}

#times {
    text-align: center;
}

#timesList {
    display: inline-block;
    text-align: left;
}

#prepTime {
    font-size: larger;
}

#prepTimeText {
    font-weight: bold;
    margin-right: 5px;
}

#cookTime {
    font-size: larger;
}

#cookTimeText {
    font-weight: bold;
    margin-right: 5px;
}

#activeTime {
    font-size: larger;
}

#activeTimeText {
    font-weight: bold;
    margin-right: 5px;
}

#inactiveTime {
    font-size: larger;
}

#inactiveTimeText {
    font-weight: bold;
    margin-right: 5px;
}
