#card {
    border: 1px solid black;
    width: auto;
    max-width: 250px;
}

#cardInfo {
    padding: 10px;
}

#recipeName {
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

#author {
    color: midnightblue;
    font-size: 16px;
    margin-bottom: 6px;
}

#totalTime {
    color: purple;
    font-size: 16px;
}

.recipeLink {
    color: inherit;
    text-decoration: none;
}

.recipeLink:visited {
    color: inherit;
}
