#searchInput {
    text-align: left;
    height: 28px;
}

#iframe {
    display: none;
    width: 0;
    height: 0;
    border: 0;
}

#searchButton {
    color:black;
    height: 32px;
    cursor: pointer;
}
