#searchContainer {
    margin: auto;
    max-width: 800px;
}

#notice {
    font-size: x-large;
    font-weight: bolder;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 20px;
}

#searchBarWrapper {
    text-align: center;
    position: relative;
}

#searchInput {
    margin: auto;
    text-align: left;
    height: 45px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 15px;
    width: 750px;
}

#iframe {
    display: none;
    width: 0;
    height: 0;
    border: 0;
}

#searchButton {
    color: black;
    height: 49px;
    width: 60px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 15px;
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: lightsteelblue;
    font-size: x-large;
}

#searchButton:hover {
    color: grey;
}

#searchType {
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;
}

#searchTypeNameWrapper {
    padding-top: 5px;
    display: block;
    white-space: pre;
}

#searchTypeIngWrapper {
    display: block;
    white-space: pre;
}

#inputReminder {
    max-height: 12px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#loadingBar {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#failNotice {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
